#chart {
  position: absolute;
  top: 15%;
  left: 300px;
}

#pic {
    
  position: absolute;
  top: 10%;
  left: 1391px;
  width:108px;height:153px;border:0;"
        
        
        
    }


#title {
    position: absolute;
    left: 1000px;
    top: 150;    
    color: #535353;
    font-size: 80px;
    border: none;
    font-family: vt323;
    cursor: pointer;    
}
  
